{% extends 'base.html.twig' %}

{% block title %}Modifier le voyage{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier le voyage à {{ visite.ville }}</h1>

        <div class="card p-4 shadow-sm mt-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                <a href="{{ path('app_voyages') }}" class="btn btn-secondary">Annuler</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
